```text
streamlit
openai>=1.55.3
httpx==0.27.2

pandas
numpy

docx2txt
python-docx
pypdf
pdfplumber

langchain-core
langchain-community
langchain-openai
langchain-text-splitters
faiss-cpu
tiktoken

reportlab
openpyxl
xlsxwriter

plotly
scikit-learn
```
